* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1.1rem 0.6rem 0.6rem;
}

.nav-group {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #222;
    text-decoration: none;
    margin-left: 0.8rem;
}
.nav-link:hover {
    text-decoration: underline;
}

.nav-link.rounded {
    display: flex;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    justify-content: center;
    align-items: center;
    margin-right: -0.5rem;
}
.nav-link.rounded:hover {
    background-color: #eee;
    text-decoration: none;
}

.app-icon {
    color: #888;
    font-size: 22px;
}
.acct-icon {
    color: rgb(33, 149, 33);
    font-size: 32px;
}


/* Main Content Styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 10rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-top: 1.8rem;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.75rem;
}

.search-box {
    display: flex;
    justify-content: flex;
    align-items: center;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 0 1rem;
}
.search-box:hover {
    box-shadow: 0 1px 0.7px 1.4px rgb(231, 231, 231);
}
.search-box:focus-within {
    box-shadow: 0 1px 0.7px 1.4px rgb(231, 231, 231);
}

.search-icon {
    color: #999;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0.75rem;
}

.search-box input {
    width: 100%;
    height: 45px;
    border: 0;
    font-size: 16px;
}
.search-box input:focus {
    outline: none;
}

.form-group button {
    margin: 0 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.466);
    padding: 0.5rem 0.75rem;

    font-size: 14px;
}
.form-group button:hover {
    cursor: pointer;
    box-shadow: 0 0 0.7px 1px #ccc;
}


/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;

    background-color: #eee;
    padding: 1rem 1.5rem;
}

.footer-link {
    color: #666;
    text-decoration: none;
    margin: 0 0.6rem;
}
.footer-link:hover {
    text-decoration: underline;
}